#header {
    position: fixed;
    top: 0px;
    z-index: 9;
    width: 100%;
    .headerSticky {
        position: relative;
        transition: all 0.3s;
        background: #fff;
    }
}
#header-top {
    background: #000;
    margin-top: 0.625rem;
}
.top-left-menu {
    float: left;
}
.top-right-menu {
    float: right;
}
.header-top {
    position: relative;
    height: 3.75rem;
    line-height: 3.75rem;
    ul li {
        display: inline-block;
        a {
            color: #fff;
        }
    }
}
ul.top-menu {
    > li {
        > a {
            display: block;
            height: 3.75rem;
            line-height: 3.75rem;
            font-size: 0.875rem;
            padding: 0 0.625rem;
            text-decoration: none;
            white-space: nowrap;
            color: #fff;
            text-transform: uppercase;
            font-weight: 800;
            &:hover {
                color: $hoverColor;
            }
        }
    }
}

#logo {
    display: block;
    min-height: 90px;
    width: 179px;
    transition: all 0.3s ease-in-out 0s;
    margin: 0 auto 55px;
    text-align: center;
    z-index: 6;
    top: 0;
    padding: 15px 15px 0;
    background: $darkYellow;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    &::before,
    &::after {
        content: " ";
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        bottom: -40px;
        border-width: 20px 45px;
        border-style: solid;
        border-color: $darkYellow transparent transparent $darkYellow;
    }
    &::before {
        border-color: $darkYellow transparent transparent $darkYellow;
    }
    &::after {
        border-color: $darkYellow $darkYellow transparent transparent;
        left: 0;
    }
}

#logo {
    img {
        height: 80px;
        width: auto;
        object-fit: contain;
        transition: all 0.5s ease;
    }
    a {
        &::before,
        &::after {
            content: " ";
            position: absolute;
            background: 0 0;
            border: 4px solid;
            display: block;
            width: 10px;
            height: 10px;
            left: -8px;
            top: 0;
            filter: brightness(66%);
            z-index: 1;
        }
        &::before {
            border-color: transparent #f7d031 #f7d031 transparent;
            left: -10px;
        }
        &::after {
            left: auto;
            right: -0.625rem;
            border-color: transparent transparent #f7d031 #f7d031;
        }
    }
}

.headerSticky {
    #logo {
        img {
            height: 4.375rem;
        }
    }
    .header-middle {
        margin-top: 1.25rem;
    }
}

.headerSticky .header-middle {
    margin-top: 0.9375rem;
}

.header-middle {
    margin-top: 0.9375rem;
    position: relative;
    .header-middle-cart,
    .header-middle-message {
        height: 50px;
        font-size: 14px;
        padding: 6px 20px;
        border-radius: 3em;
        background-color: $white;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.12);
        transition: all 0.3s ease 0s;
    }
    .header-middle-message {
        float: left;
        background: #fff;
        small {
            font-weight: 600;
        }
        span {
            font-weight: 800;
        }
    }
    .header-middle-cart .search-icon,
    .header-middle-cart .cart-icon,
    .header-middle-cart .user-icon {
        float: left;
        width: 36px;
        height: 36px;
        margin: 0;
        vertical-align: middle;
        text-align: center;
        font-size: 28px;
        margin: 0 10px;
        border-radius: 7px;
        position: relative;
    }
    .header-middle-cart .search-icon:hover,
    .header-middle-cart .cart-icon:hover,
    .header-middle-cart .user-icon:hover {
        background: #f7d031;
    }
    .header-middle-cart {
        float: right;
    }
    .cart-icon {
        span.count {
            position: absolute;
            color: #fff;
            background-color: #333;
            top: 50%;
            margin-top: -20px;
            left: 25px;
            display: block;
            font-size: 9px !important;
            line-height: 15px !important;
            white-space: nowrap;
            height: 15px;
            min-width: 16px;
            border-radius: 2em;
            text-align: center;
            font-weight: 700;
        }
    }
}

/*menu login*/
.login-section {
    background-color: #fff;
    position: fixed;
    top: 75px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
    z-index: -1;
    transition: 1s max-height 0.1s;
    max-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    &.active {
        transition: 1s max-height 0.1s;
        max-height: 100vh;
        bottom: 0;
        z-index: 1;
    }
    .nav-item {
        width: 50%;
        .login-btn {
            color: #333;
            font-weight: 800;
            font-size: 14px;
            border-bottom: 2px solid #f1f1f1 !important;
            width: 100%;
            border-radius: 0 !important;
            &:hover {
                color: #cacaca !important;
            }
            &.active {
                background: transparent !important;
                color: #cacaca !important;
                border-bottom: 2px solid #000 !important;
                border-radius: 0;
            }
        }
    }
    form {
        width: 350px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px 0;
        .form-group {
            font-size: 12px;
            color: #000;
            text-align: left;
            position: relative;
            label {
                margin-bottom: 10px;
                font-weight: 800;
            }
            input {
                background: #f6f6f6;
                color: #333;
                border: none;
            }
            a {
                color: $hoverColor;
                font-size: 14px;
                font-weight: 800;
            }
            .password-control {
                position: absolute;
                top: 35px;
                right: 6px;
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
                &.view {
                    background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
                }
            }
        }
    }
}

/*.user-icon.active .la-user,*/
.user-icon {
    .la-times {
        display: none;
    }
    &.active {
        background: #f7d031;
        position: relative;
        z-index: 2;
        .la-times {
            display: block;
            position: relative;
            z-index: 3;
        }
        .la-user {
            &::before {
                content: "\f00d";
                font-family: "Line Awesome Free";
                font-weight: 900;
            }
        }
    }
}

.search-icon-display {
    position: absolute;
    width: 208px;
    top: -6px;
    left: -142px;
    transition: 0.5s;
    transition-timing-function: ease-out;
    input {
        height: 50px;
        font-size: 14px;
        padding: 6px 20px;
        border-radius: 3em;
    }
    .close-btn {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

#bottom-menu {
    margin-top: 0.9375rem;
    height: 4rem;
    transition: all 0.5s ease;
}
.bottom-menu-nav {
    width: 100%;
    height: 64px;
    max-height: none;
    background: #f7d031;
    border-radius: 8px;
    text-align: center;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    &::before,
    &::after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 1.25rem;
        left: 1.25rem;
        width: 50%;
        top: 2.5rem;
        max-width: 25rem;
        background: 0 0;
        box-shadow: 0 .9375rem .8125rem #333333;
        transform: rotate(-2deg);
    }
    &::after {
        transform: rotate(2deg);
        right: 20px;
        left: auto;
    }
    > li {
        display: inline-block;
        list-style: none;
        margin: 0 1%;
        .mega-menu {
            display: flex !important;
            position: absolute !important;
            max-width: 1300px !important;
            width: 100%;
            left: 0;
            background: #fff !important;
            border-radius: 5px;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            height: 0;
            transition: all 0.5s ease;
            .menu-item {
                padding: 25px 0px 25px 25px;
                height: 100%;
                img {
                    height: 250px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
                span {
                    font-weight: 800;
                    font-size: 18px;
                    margin-top: 10px;
                    display: block;
                }
            }
        }
        &:hover {
            .mega-menu {
                opacity: 1;
                visibility: visible;
                height: 338px;
                display: block;
            }
        }
        > a {
            display: block;
            // vertical-align: middle;
            padding: 0px 10px !important;
            text-decoration: none;
            font-size: 15px;
            position: relative;
            color: #000;
            font-weight: 600;
            height: 64px;
            line-height: 64px;
            text-transform: capitalize;
            transition: all 0.3s ease 0s;
            font-weight: 700;
        }
    }
}
#header {
    &.headerSticky {
        transition: all 0.3s;
        background: #fff;
        #bottom-menu {
            max-height: 0;
            height: 0;
            overflow: hidden;
            opacity: 0;
            margin-top: 20px;
            transition: all 0.5s ease;
        }
    }
}

.btn-mb-bar {
    background: $hoverColor;
    color: #fff;
    border-radius: 50% !important;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        font-size: 28px;
    }
}

.mb-canvas {
    .offcanvas-backdrop {
        background: transparent;
    }
    .offcanvas-start {
        background: #333;
    }
    .offcanvas-header {
        border-bottom: 2px solid #fff;
        align-items: center;
        .offcanvas-title {
            color: #fff;
            font-size: 22px;
        }
        .btn-close {
            background: none;
            color: #fff !important;
            opacity: 1;
            font-size: 22px;
            padding: 0;
        }
        .nav {
            display: block;
            .nav-item {
                display: inline-block;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                a {
                    text-transform: uppercase;
                    display: block;
                    font-size: 26px;
                    height: 50px;
                    line-height: 50px;
                    padding: 0 !important;
                    text-align: center;
                    color: #fff !important;
                    font-weight: 800;
                }
                &:first-child {
                    width: calc(100% - 175px);
                    text-align: left;
                    font-size: 18px;
                }
            }
        }
    }
    .offcanvas-body {
        background: #3333;
        .mb-nav {
            background: #333;
            ul {
                > li {
                    color: #fff;
                    text-transform: capitalize;
                    cursor: pointer;
                    a {
                        color: #fff;
                        text-transform: capitalize;
                        height: 45px;
                        padding: 0;
                        font-weight: 800;
                        font-size: 20px;
                        &:focus,
                        &:hover {
                            color: #f7d031;
                        }
                    }
                    div {
                        padding-left: 20px;
                    }
                    .submenu {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        padding-left: 2rem;
                        padding-right: 1rem;
                    }
                }
            }
        }
        .login-section {
            position: static;
            max-height: 100%;
            background: transparent;
            .login-btn {
                color: #fff !important;
                border-bottom-color: #3333 !important;
                &.active {
                    border-bottom-color: #fff !important;
                    color: #fff !important;
                }
            }
            form {
                .form-group {
                    color: $white;
                    a,
                    label {
                        color: #fff;
                    }
                }
            }
        }
    }
}
