@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&family=Overlock:wght@400;700;900&display=swap);
html {
  scroll-behavior: smooth;
  transition: all 0.5s ease;
}

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  transition: all 0.5s ease;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Overlock", cursive;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 0;
}

h3 {
  font-size: 2.25rem;
}

a:hover,
a {
  color: #000;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

.pa-t {
  padding-top: 3rem;
}

.pa-b {
  padding-bottom: 3rem;
}

.pa-tb {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.ma-t {
  margin-top: 3rem;
}

.ma-b {
  margin-bottom: 3rem;
}

.ma-tb {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title {
  margin-bottom: 1rem;
}
.section-title h3 {
  font-weight: 800;
  text-transform: capitalize;
  color: #000;
  font-size: 1.5rem;
}

.see-btn {
  color: #000;
  text-transform: capitalize;
  font-weight: 700;
}

.menu-section,
.category-section {
  background: #F8F8F8;
}

.price {
  color: #197c43;
  font-size: 1.125rem;
  font-weight: 800;
  display: block;
}

.selling-card-cart {
  height: 2.5rem;
  width: 2.5rem;
  border: 0.125rem solid #efc4ef;
  color: #197c43;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5625rem;
  transition: all 0.5s ease;
}

.promotion-banner img {
  height: auto;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*menu card start*/
.favourites-carousel .item {
  padding: 0.625rem;
}

.menu-card-two {
  background: #fff;
  display: flex;
  box-shadow: 0.0625rem 0.0625rem 0.8125rem -0.125rem rgba(0, 0, 0, 0.12);
  border-radius: 0.9375rem;
  transition: all 0.5s ease;
  overflow: hidden;
}
.menu-card-two .menu-card-img {
  height: 9.375rem;
  width: 9rem;
  overflow: hidden;
  flex: 1;
}
.menu-card-two .menu-card-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease;
}
.menu-card-two .menu-card-content {
  padding: 0.625rem;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-card-two .menu-card-content .menu-card-title {
  color: #F7D031;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.menu-card-two .menu-card-content .menu-card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.menu-card-two .menu-card-content .menu-card-meta {
  justify-content: space-between;
}
.menu-card-two .menu-card-content .menu-card-meta .selling-card-cart {
  height: 1.875rem;
  width: 1.875rem;
}
.menu-card-two .menu-card-content .menu-card-meta .selling-card-cart i {
  font-size: 1.375rem;
}
.menu-card-two:hover {
  box-shadow: 0.0625rem 0.0625rem 0.8125rem -0.125rem rgba(0, 0, 0, 0.3);
}
.menu-card-two:hover .menu-card-img img {
  transform: scale(1.1);
}
.menu-card-two:hover .menu-card-content .menu-card-title {
  color: #f85954;
}

/*menu card end*/
.favourites-carousel .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.favourites-carousel .owl-nav button {
  height: 2.1875rem;
  width: 2.1875rem;
  border-radius: 50% !important;
  background: #efc4ef !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 !important;
}
.favourites-carousel .owl-nav button::before {
  font-family: "Font Awesome 5 Free";
  content: "\f30a";
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  font-size: 1.75rem;
  color: #197c43;
  position: absolute;
  top: 50%;
  right: -0.3125rem;
  transform: translateY(-50%);
}
.favourites-carousel .owl-nav button:hover {
  background: #F7D031 !important;
}
.favourites-carousel .owl-nav button:hover::before {
  color: #197c43 !important;
}
.favourites-carousel .owl-nav button.owl-prev {
  left: -2.8125rem;
}
.favourites-carousel .owl-nav button.owl-next {
  right: -2.8125rem;
}
.favourites-carousel .owl-nav button.owl-next::before {
  transform: rotate(180deg) translateY(50%);
  left: auto;
  right: 1.0625rem;
}

#header {
  position: fixed;
  top: 0px;
  z-index: 9;
  width: 100%;
}
#header .headerSticky {
  position: relative;
  transition: all 0.3s;
  background: #fff;
}

#header-top {
  background: #000;
  margin-top: 10px;
}

.top-left-menu {
  float: left;
}

.top-right-menu {
  float: right;
}

.header-top {
  position: relative;
  height: 60px;
  line-height: 60px;
}
.header-top ul li {
  display: inline-block;
}
.header-top ul li a {
  color: #fff;
}

ul.top-menu > li > a {
  display: block;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  padding: 0 10px;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
}
ul.top-menu > li > a:hover {
  color: #f85954;
}

#logo {
  display: block;
  min-height: 90px;
  width: 179px;
  transition: all 0.3s ease-in-out 0s;
  margin: 0 auto 55px;
  text-align: center;
  z-index: 6;
  top: 0;
  padding: 15px 15px 0;
  background: #F7D031;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
#logo::before, #logo::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  bottom: -40px;
  border-width: 20px 45px;
  border-style: solid;
  border-color: #F7D031 transparent transparent #F7D031;
}
#logo::before {
  border-color: #F7D031 transparent transparent #F7D031;
}
#logo::after {
  border-color: #F7D031 #F7D031 transparent transparent;
  left: 0;
}

#logo img {
  height: 80px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.5s ease;
}
#logo a::before, #logo a::after {
  content: " ";
  position: absolute;
  background: 0 0;
  border: 4px solid;
  display: block;
  width: 10px;
  height: 10px;
  left: -8px;
  top: 0;
  filter: brightness(66%);
  z-index: 1;
}
#logo a::before {
  border-color: transparent #f7d031 #f7d031 transparent;
  left: -10px;
}
#logo a::after {
  left: auto;
  right: -10px;
  border-color: transparent transparent #f7d031 #f7d031;
}

.headerSticky #logo img {
  height: 70px;
}
.headerSticky .header-middle {
  margin-top: 20px;
}

.headerSticky .header-middle {
  margin-top: 20px;
}

.header-middle {
  margin-top: 30px;
  position: relative;
}
.header-middle .header-middle-cart,
.header-middle .header-middle-message {
  height: 50px;
  font-size: 14px;
  padding: 6px 20px;
  border-radius: 3em;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease 0s;
}
.header-middle .header-middle-message {
  float: left;
  background: #fff;
}
.header-middle .header-middle-message small {
  font-weight: 600;
}
.header-middle .header-middle-message span {
  font-weight: 800;
}
.header-middle .header-middle-cart .search-icon,
.header-middle .header-middle-cart .cart-icon,
.header-middle .header-middle-cart .user-icon {
  float: left;
  width: 36px;
  height: 36px;
  margin: 0;
  vertical-align: middle;
  text-align: center;
  font-size: 28px;
  margin: 0 10px;
  border-radius: 7px;
  position: relative;
}
.header-middle .header-middle-cart .search-icon:hover,
.header-middle .header-middle-cart .cart-icon:hover,
.header-middle .header-middle-cart .user-icon:hover {
  background: #f7d031;
}
.header-middle .header-middle-cart {
  float: right;
}
.header-middle .cart-icon span.count {
  position: absolute;
  color: #fff;
  background-color: #333;
  top: 50%;
  margin-top: -20px;
  left: 25px;
  display: block;
  font-size: 9px !important;
  line-height: 15px !important;
  white-space: nowrap;
  height: 15px;
  min-width: 16px;
  border-radius: 2em;
  text-align: center;
  font-weight: 700;
}

/*menu login*/
.login-section {
  background-color: #fff;
  position: fixed;
  top: 75px;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
  z-index: -1;
  transition: 1s max-height 0.1s;
  max-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.login-section.active {
  transition: 1s max-height 0.1s;
  max-height: 100vh;
  bottom: 0;
  z-index: 1;
}
.login-section .nav-item {
  width: 50%;
}
.login-section .nav-item .login-btn {
  color: #333;
  font-weight: 800;
  font-size: 14px;
  border-bottom: 2px solid #f1f1f1 !important;
  width: 100%;
  border-radius: 0 !important;
}
.login-section .nav-item .login-btn:hover {
  color: #cacaca !important;
}
.login-section .nav-item .login-btn.active {
  background: transparent !important;
  color: #cacaca !important;
  border-bottom: 2px solid #000 !important;
  border-radius: 0;
}
.login-section form {
  width: 350px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
}
.login-section form .form-group {
  font-size: 12px;
  color: #000;
  text-align: left;
  position: relative;
}
.login-section form .form-group label {
  margin-bottom: 10px;
  font-weight: 800;
}
.login-section form .form-group input {
  background: #f6f6f6;
  color: #333;
  border: none;
}
.login-section form .form-group a {
  color: #f85954;
  font-size: 14px;
  font-weight: 800;
}
.login-section form .form-group .password-control {
  position: absolute;
  top: 35px;
  right: 6px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.login-section form .form-group .password-control.view {
  background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}

/*.user-icon.active .la-user,*/
.user-icon .la-times {
  display: none;
}
.user-icon.active {
  background: #f7d031;
  position: relative;
  z-index: 2;
}
.user-icon.active .la-times {
  display: block;
  position: relative;
  z-index: 3;
}
.user-icon.active .la-user::before {
  content: "\f00d";
  font-family: "Line Awesome Free";
  font-weight: 900;
}

.search-icon-display {
  position: absolute;
  width: 208px;
  top: -6px;
  left: -142px;
  transition: 0.5s;
  transition-timing-function: ease-out;
}
.search-icon-display input {
  height: 50px;
  font-size: 14px;
  padding: 6px 20px;
  border-radius: 3em;
}
.search-icon-display .close-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

#bottom-menu {
  margin-top: 30px;
  height: 64px;
  transition: all 0.5s ease;
}

.bottom-menu-nav {
  width: 100%;
  height: 64px;
  max-height: none;
  background: #f7d031;
  border-radius: 8px;
  text-align: center;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
}
.bottom-menu-nav > li {
  display: inline-block;
  list-style: none;
  margin: 0 2%;
}
.bottom-menu-nav > li .mega-menu {
  display: flex !important;
  position: absolute !important;
  max-width: 1300px !important;
  width: 100%;
  left: 0;
  background: #fff !important;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: all 0.5s ease;
}
.bottom-menu-nav > li .mega-menu .menu-item {
  padding: 25px 0px 25px 25px;
  height: 100%;
}
.bottom-menu-nav > li .mega-menu .menu-item img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.bottom-menu-nav > li .mega-menu .menu-item span {
  font-weight: 800;
  font-size: 18px;
  margin-top: 10px;
  display: block;
}
.bottom-menu-nav > li:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  height: 338px;
  display: block;
}
.bottom-menu-nav > li > a {
  display: block;
  padding: 0px 10px !important;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  color: #000;
  font-weight: 600;
  height: 64px;
  line-height: 64px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}

#header.headerSticky {
  transition: all 0.3s;
  background: #fff;
}
#header.headerSticky #bottom-menu {
  max-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  margin-top: 20px;
  transition: all 0.5s ease;
}

.btn-mb-bar {
  background: #f85954;
  color: #fff;
  border-radius: 50% !important;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-mb-bar i {
  font-size: 28px;
}

.mb-canvas .offcanvas-backdrop {
  background: transparent;
}
.mb-canvas .offcanvas-start {
  background: #333;
}
.mb-canvas .offcanvas-header {
  border-bottom: 2px solid #fff;
  align-items: center;
}
.mb-canvas .offcanvas-header .offcanvas-title {
  color: #fff;
  font-size: 22px;
}
.mb-canvas .offcanvas-header .btn-close {
  background: none;
  color: #fff !important;
  opacity: 1;
  font-size: 22px;
  padding: 0;
}
.mb-canvas .offcanvas-header .nav {
  display: block;
}
.mb-canvas .offcanvas-header .nav .nav-item {
  display: inline-block;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}
.mb-canvas .offcanvas-header .nav .nav-item a {
  text-transform: uppercase;
  display: block;
  font-size: 26px;
  height: 50px;
  line-height: 50px;
  padding: 0 !important;
  text-align: center;
  color: #fff !important;
  font-weight: 800;
}
.mb-canvas .offcanvas-header .nav .nav-item:first-child {
  width: calc(100% - 175px);
  text-align: left;
  font-size: 18px;
}
.mb-canvas .offcanvas-body {
  background: #3333;
}
.mb-canvas .offcanvas-body .mb-nav {
  background: #333;
}
.mb-canvas .offcanvas-body .mb-nav ul > li {
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}
.mb-canvas .offcanvas-body .mb-nav ul > li a {
  color: #fff;
  text-transform: capitalize;
  height: 45px;
  padding: 0;
  font-weight: 800;
  font-size: 20px;
}
.mb-canvas .offcanvas-body .mb-nav ul > li a:focus, .mb-canvas .offcanvas-body .mb-nav ul > li a:hover {
  color: #f7d031;
}
.mb-canvas .offcanvas-body .mb-nav ul > li div {
  padding-left: 20px;
}
.mb-canvas .offcanvas-body .mb-nav ul > li .submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  padding-right: 1rem;
}
.mb-canvas .offcanvas-body .login-section {
  position: static;
  max-height: 100%;
  background: transparent;
}
.mb-canvas .offcanvas-body .login-section .login-btn {
  color: #fff !important;
  border-bottom-color: #3333 !important;
}
.mb-canvas .offcanvas-body .login-section .login-btn.active {
  border-bottom-color: #fff !important;
  color: #fff !important;
}
.mb-canvas .offcanvas-body .login-section form .form-group {
  color: #fff;
}
.mb-canvas .offcanvas-body .login-section form .form-group a,
.mb-canvas .offcanvas-body .login-section form .form-group label {
  color: #fff;
}

.home-banner-img {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.home-banner-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-banner-img .carousel-caption {
  text-align: left;
  left: 8%;
  width: 50%;
}

/*menu card start*/
.favourites-carousel .item {
  padding: 0.625rem;
}

.menu-card-two {
  background: #fff;
  display: flex;
  box-shadow: 0.0625rem 0.0625rem 0.8125rem -0.125rem rgba(0, 0, 0, 0.12);
  border-radius: 0.9375rem;
  transition: all 0.5s ease;
  overflow: hidden;
}
.menu-card-two .menu-card-img {
  height: 9.375rem;
  width: 9rem;
  overflow: hidden;
  flex: 1;
}
.menu-card-two .menu-card-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease;
}
.menu-card-two .menu-card-content {
  padding: 0.625rem;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-card-two .menu-card-content .menu-card-title {
  color: #F7D031;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.menu-card-two .menu-card-content .menu-card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.menu-card-two .menu-card-content .menu-card-meta {
  justify-content: space-between;
}
.menu-card-two .menu-card-content .menu-card-meta .selling-card-cart {
  height: 1.875rem;
  width: 1.875rem;
}
.menu-card-two .menu-card-content .menu-card-meta .selling-card-cart i {
  font-size: 1.375rem;
}
.menu-card-two:hover {
  box-shadow: 0.0625rem 0.0625rem 0.8125rem -0.125rem rgba(0, 0, 0, 0.3);
}
.menu-card-two:hover .menu-card-img img {
  transform: scale(1.1);
}
.menu-card-two:hover .menu-card-content .menu-card-title {
  color: #f85954;
}

/*menu card end*/
.menu-carousel:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 5rem;
  width: 100%;
  background: #fffcd08a;
  transform: translateY(-50%);
}

.menu-card-one {
  text-align: center;
}
.menu-card-one .menu-card-img {
  border-radius: 0.625rem;
  margin-bottom: 0.625rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.0625rem 0.0625rem 0.8125rem -0.125rem rgba(0, 0, 0, 0.12);
}
.menu-card-one .menu-card-img img {
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.5s ease;
  padding: 20px;
}
.menu-card-one .menu-card-title h4 {
  color: #000;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: capitalize;
  margin-bottom: 0;
  transition: all 0.5 ease;
}
.menu-card-one .menu-card-title h4:hover {
  color: #f85954;
}

.strength-section .menu-card-one {
  margin-right: 2.5rem;
}

.home-policies {
  padding: 4.6875rem 0 2.5rem 0;
  background: #fff;
  position: relative;
}

.offer-card {
  text-align: center;
  margin-bottom: 1.875rem;
}
.offer-card .offer-card-icon {
  border: none;
  padding: 2.5rem;
  border-radius: 0;
  background: #fff;
  border-radius: 0.625rem;
  margin: auto;
  height: 7rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.12);
}
.offer-card .offer-card-icon img {
  height: 6rem;
  width: 6rem;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.5s ease;
  padding: 20px;
}
.offer-card .offer-card-title h4 {
  width: 100%;
  color: #04111a;
  margin: 0.75rem 0;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: capitalize;
}

/*moto start*/
.moto-section {
  background: #F8F8F8;
  color: #000;
}
.moto-section h4 {
  color: #000;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.moto-section ul {
  display: flex;
  justify-content: space-between;
}
.moto-section ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.moto-section ul li span {
  margin-top: 8px;
  text-transform: capitalize;
  font-size: 14px;
}
.moto-section .moto-content-live {
  background: #fffcd08a;
  height: 100%;
}
.moto-section .moto-content-live p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.moto-section .btn-live {
  color: #fff;
  background: #F7D031;
  border: 0.0625rem solid #F7D031;
  text-transform: capitalize;
  padding: 0.625rem 1.875rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 3.125rem;
  text-align: right;
}
.moto-section .btn-live:hover {
  color: #F7D031;
  background: #fff;
}
.moto-section .bg-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.blog-card {
  background: #fff;
  transition: all 0.5s ease;
  border-radius: 0.9375rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.12);
}
.blog-card .blog-card-img {
  height: 18.75rem;
  width: 100%;
  overflow: hidden;
  border-radius: 0.9375rem;
}
.blog-card .blog-card-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease;
}
.blog-card .blog-content {
  padding: 1.25rem;
  text-align: center;
}
.blog-card .blog-content h6 {
  color: #f85954;
  font-weight: 700;
}
.blog-card .blog-content h5 {
  margin-bottom: 0.625rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #F7D031;
}
.blog-card .blog-content .blog-meta li {
  background: #fcf8f3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3125rem 0.625rem;
  width: auto;
}
.blog-card .blog-content .blog-meta li span {
  margin-right: 0.625rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.blog-card .blog-content .blog-meta li span i {
  color: #F7D031;
  font-size: 1.25rem;
  margin-right: 0.3125rem;
}

/*mobile section start*/
.mobile-section {
  background: #F7D031;
}
.mobile-section .mobile-content h2 {
  font-weight: 700;
  font-size: 2.1875rem;
  margin-bottom: 0.9375rem;
  color: #000;
}
.mobile-section .mobile-content p {
  margin-bottom: 0.9375rem;
}
.mobile-section .mobile-content ul {
  display: flex;
}
.mobile-section .mobile-content ul li {
  display: inline-block;
  margin-right: 1.5625rem;
}
.mobile-section .mobile-content ul li:last-child {
  margin-right: 0;
}
.mobile-section .mobile-content ul li img {
  height: 3.125rem;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.mobile-section .mobile-content .email-section {
  background: rgba(255, 255, 255, 0.9);
  padding: 0.9375rem 1.875rem;
  border-radius: 10px;
}
.mobile-section .mobile-content .email-section .form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.mobile-section .mobile-content .alternative span {
  position: absolute;
  bottom: 0;
  font-size: 2.1875rem;
  padding-left: 0.9375rem;
}
.mobile-section .mobile-content .alternative span::before {
  content: "";
  height: 100%;
  width: 0.125rem;
  position: absolute;
  left: 0;
  background: #555;
}

/*mobile section end*/
/*footer start*/
footer {
  background: #2a2a2a;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.footer-widget {
  position: relative;
}
.footer-widget .footer-title h4 {
  text-transform: capitalize;
  font-weight: 800;
  margin-bottom: 1.5625rem;
  color: #fff;
}
.footer-widget .footer-list li {
  margin-bottom: 0.75rem;
}
.footer-widget .footer-list li a {
  display: block;
  text-transform: capitalize;
  font-size: 0.9375rem;
  transition: all 0.5s ease;
  color: #fff;
}
.footer-widget .footer-list li:hover a {
  color: var(--primary-color);
  margin-left: 0.625rem;
}

.footer-list li .footer-list li .footer-about-dtl p {
  color: #fff;
}

.footer-resources.footer-widget:before {
  display: none;
}

.footer-social {
  border-bottom: 0.0625rem solid #ddd;
  padding: 1.5625rem 0 2rem 0;
}

.footer-social ul li {
  display: inline-block;
  margin-right: 0.9375rem;
}

.footer-social ul li a {
  color: #555;
  font-size: 1.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.1875rem;
  width: 2.1875rem;
  background: #fff;
  border-radius: 50%;
}

.footer-social ul li a:hover {
  color: #fff;
}

.footer-social ul li a.facebook:hover {
  background: #3b5998;
}

.footer-social ul li a.twitter:hover {
  background: #55acee;
}

.footer-social ul li a.twitter:hover {
  background: #55acee;
}

.footer-social ul li a.youtube:hover {
  background: #bb0000;
}

.footer-social ul li a.instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.footer-social .mobile-content span img {
  height: 3.125rem;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-social .mobile-content span:first-child {
  margin-right: 0.9375rem;
}

.copyright {
  padding-top: 1.875rem;
  color: #747474;
}

.copyright p {
  margin-bottom: 0;
}

.footer-nav .menu-link {
  padding: 0 !important;
  color: #555;
  margin-right: 2.1875rem;
  text-transform: capitalize;
  color: #eeee;
}

.footer-nav .nav-item:last-child .menu-link {
  margin-right: 0;
}

.back-to-top {
  position: fixed;
  bottom: 1.5625rem;
  right: 1.5625rem;
  display: none;
  z-index: 2;
  background: var(--yellow-color);
  border: 0.0625rem solid #fff;
  color: var(--primary-color);
}

.back-to-top i {
  color: #fff;
}

.back-to-top:hover i {
  color: var(--primary-color);
}

.back-to-top:hover {
  background: #fff;
  border-color: var(--secondary-color);
  color: #fff;
}

/*footer ends*/
@media (max-width: 1200px) {
  .home-banner-img {
    height: 70vh;
  }

  .headerSticky .header-middle {
    padding-bottom: 20px;
  }

  .mb-canvas {
    display: block;
  }

  .breadcrumb-banner img {
    height: 60vh;
  }

  #mb-view .mb-header {
    display: none;
  }

  .banner-content {
    transform: translate(-50%, 20%);
  }
}
@media (max-width: 1000px) {
  .header-middle .header-middle-cart .user-icon {
    display: none;
  }
  .header-middle .mb-canvas {
    display: block;
  }

  .breadcrumb-banner img {
    height: 60vh;
  }

  #mb-view {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background: #fff;
    background: rgba(0, 0, 0, 0.4);
  }
  #mb-view .mb-content {
    background: #fff;
    width: 70%;
    padding-bottom: 20px;
  }
  #mb-view .mb-content .mb-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
    width: 100%;
    padding: 1.125rem;
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ee8226;
    margin-bottom: 20px;
  }
  #mb-view .mb-content .mb-header h5 {
    margin-bottom: 0;
    color: #fff;
  }
  #mb-view .mb-content .mb-header .closebtn {
    font-size: 36px;
    color: #fff;
  }
  #mb-view .mb-content #content-sidebar {
    padding: 0 20px;
  }

  .sticky-filter-btn {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #f85954;
    border-radius: 0 24px 24px 0px;
    z-index: 1;
  }
}
@media (max-width: 900px) {
  .header-middle-cart {
    display: none;
  }
}
@media (max-width: 800px) {
  .header-middle .header-middle-message {
    background: transparent;
    padding: 0;
  }
  .header-middle .header-middle-message span,
.header-middle .header-middle-message small {
    display: none !important;
  }
  .header-middle .header-middle-message a {
    height: 50px;
    width: 50px;
    background: #197c43;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }
}
